
.li {
    display: inline-block; 
    margin-right: 10px;
    background-color: #1f946d;
  }

  .tableheader-list {
    display: grid;
    grid-template-columns: 1fr 4fr 5fr 2fr 3fr 1fr;
    list-style: none;
    padding: 0;
  }
  
  .tableheader {
    background-color: #03422d;
    text-align: center;
    padding: 10px;
  }

  .tablerow-list{
    display: grid;
    grid-template-columns: 1fr 4fr 5fr 2fr 3fr 1fr;
    list-style: none;
    padding: 0;
  }

  .tablerow{
    background-color: #14ce90;
    text-align: center;
    padding: 5px;
  }

  .counterbuttons{
    display: flex;  
    list-style: none;
    gap: 10px;
  }

  .buttons{
    width: 20px;
    min-width: 5px;
    max-width: 30px;
  }