
.inputscontainer{
    width: 23%;
    padding: 20px;
    background-color:  #070707;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    display:block;
}

.form{
    display: grid;
    width: 80%;
}

.inputcontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 0.3rem;
    
}


.buttonconfirm{
    
    width: 80%;
    
}